BOT_TOKEN=
GSHEET_ID=
GOOGLE_JSON_CONTENT=
SEPAY_API_KEY=
ADMIN_PASSWORD=
APP_TIMEZONE=Asia/Ho_Chi_Minh
ORDER_TTL_SECONDS=900

BANK_CODE=MB
BANK_NAME=MBBANK
BANK_OWNER=LE VAN KHOI
BANK_NUMBER=0329279225
NOTE_TEMPLATE={order_id}

SUPPORT_ADMIN_NAME=Le Van Khoi
SUPPORT_ZALO=
SUPPORT_ZALO_LINK=
SUPPORT_TELE=
SUPPORT_TELE_LINK=
